/** login link colors **/
/*.login #nav a, 
.login #backtoblog a
	{
	color: #69219b !important;
	}

.login #nav a:hover, 
.login #backtoblog a:hover
	{
	color: #220b42 !important;
	}*/
/** colors-fresh.css **/
@import url("/wp-admin/css/colors-fresh.min.css?ver=3.5");
/** background color on menu **/
#adminmenuback,
#adminmenuwrap
	{
	background-color: #43942d;
	border-color: #326d22 !important;
	}
	
.folded #adminmenuback,
.folded #adminmenuwrap
	{
	border-color: #326d22 !important;
	}
	
/** menu list **/
#adminmenu .menu-top
	{
	border-top-color: #56bb3a !important;
	border-bottom-color: #326d22 !important;
	}

/** folded menu **/
.folded #adminmenu .wp-submenu-wrap, 
.folded #adminmenu .wp-submenu ul
	{
	border-color: #326d22;
	}
	
.folded #adminmenu .wp-submenu .wp-submenu-head
	{
	background-color: #43942d;
	border-top-color: #56bb3a !important;
	border-bottom-color: #326d22 !important;
	color: #ffffff !important;
	}

/** current grey menu item **/
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
#adminmenu li.current a.menu-top, .folded #adminmenu li.wp-has-current-submenu, 
.folded #adminmenu li.current.menu-top,
#adminmenu .wp-menu-arrow, 
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head 
	{
	border-top-color: gray !important;
	border-bottom-color: #6D6D6D !important;
	color: #fff !important;
	}

/** menu separator **/
#adminmenu .wp-menu-separator
	{
	background-color: #3b8128 !important;
	border-color: #326d22 !important;
	}
	
#adminmenu .separator
	{
	border-color: #3b8128 !important;
	}

/** link colours on menu **/
#adminmenu .menu-top a,
#adminmenu .menu-top a:visited
	{
	color: #ffffff !important;
	}
	
#adminmenu .menu-top a:hover,
#adminmenu .menu-top a:active
	{
	color: #7951a1 !important;
	}

/** collapse menu **/
#collapse-menu
	{
	color: #ffffff !important;
	opacity: 0.75;
	}
	
#collapse-menu:hover
	{
	color: #7951a1 !important;
	opacity: 1;
	}

.folded #collapse-menu
	{
	display: block;
	opacity: 1;
	}

/** hover color of menu children */
#adminmenu .wp-submenu a,
#adminmenu .wp-submenu a:visited
	{
	color: #69219b !important;
	}
	
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-submenu a:active		 
	{
	color: #220b42 !important;
	background-color: #eef9eb !important;
	}

/** link colours in main window **/
a, 
#adminmenu a, 
#poststuff #edButtonPreview, 
#poststuff #edButtonHTML, 
#the-comment-list p.comment-author strong a, 
#media-upload a.del-link, 
#media-items a.delete, 
.plugins a.delete, 
.plugins .inactive a,		
.ui-tabs-nav a
	{
	color: #69219b;
	}

a:hover, 
a:active, 
a:focus,
#sidemenu a.current,
#wphead #viewsite a:hover, 
#the-comment-list .comment a:hover, 
#rightnow a:hover, #media-upload a.del-link:hover, 
div.dashboard-widget-submit input:hover, 
.subsubsub a:hover, .subsubsub a.current:hover, 
.ui-tabs-nav a:hover, .plugins .inactive a:hover, 
#all-plugins-table .plugins .inactive a:hover, 
#search-plugins-table .plugins .inactive a:hover
	{
	color: #220b42;
	}

/** primary button colors **/
		.wp-core-ui .button-primary, input.button-primary, button.button-primary, a.button-primary 
	{
/*border-color: #56bb3a;
font-weight: bold;*/
color: #fff;			
background: #43942d;
background: -moz-linear-gradient(top, #43942d 0%, #326d22 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43942d), color-stop(100%,#326d22)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #43942d 0%,#326d22 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #43942d 0%,#326d22 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #43942d 0%,#326d22 100%); /* IE10+ */
background-image: linear-gradient(to bottom,#43942d,#326d22); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56bb3a', endColorstr='#326d22',GradientType=0 ); /* IE6-9 */
text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
border-style: solid;
border-color: #7951a1;
}
.wp-core-ui .button-primary:hover,
input.button-primary:hover, 
button.button-primary:hover,
a.button-primary:hover, 
a.button-primary:focus, 
a.button-primary:active
	{
	border-color: #204616;
	color: #eef9eb;
	background-image:none;
	background: #43942d;
	}

.wp-core-ui .button-primary:active,
input.button-primary:active,
button.button-primary:active,
a.button-primary:active
	{
	background: #326d22;
	background: -moz-linear-gradient(top, #326d22 0%, #56bb3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#326d22), color-stop(100%,#56bb3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #326d22 0%,#56bb3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #326d22 0%,#56bb3a 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #326d22 0%,#56bb3a 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#326d22', endColorstr='#56bb3a',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #326d22 0%,#56bb3a 100%); /* W3C */
	color: #eef9eb;
	}

.-core-ui .button-primary:disabled,
.wp-core-ui .button-primary-disabled,
.button-primary-disabled,
.button-primary[disabled],
.button-primary:disabled 
	{
    color: #eef9eb !important;
	border-color: #204616 !important;
    background: #43942d !important;
	}

/** highlight class **/
.highlight 
	{
	background-color: #eef9eb;
	}

.creditz
	{
	background-color: #eef9eb !important;
	border-bottom-color: #bde7b1 !important;
	}
input[type="text"]:focus {
border-style: solid;
border-width: 1px;
border-color: #43942d!important;
	}


/** webfonts **/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Advent+Pro:700);

/** beta **/
h3.hndle {
    border-style: solid;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-color: #69219b;
}

body {
    font-family: "Open Sans", Segoe UI, Arial, sans;
}

div.wrap h2 {
    font-family: 'Advent Pro', "Open Sans", Segoe UI, Arial, sans;
    font-weight: bold;
}

div.postbox {
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, .2);
}

#title {
    font-family: 'Advent Pro', "Open Sans", Segoe UI, Arial, sans;
    font-weight: bold;
}

#wpbody {
    margin-left: -18px;
    padding-left: 18px;
    min-height: 100%;
}

#wpbody-content {
    margin-left: -18px;
    padding-left: 18px;
}

#drag-drop-area {
    background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png);
}

#category-tabs li {
}

#category-tabs li.hide-if-no-js {
    border-style: none;
}

div.tagchecklist span {
    background-color: #43942d;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}

#content_toolbargroup span {
}

td.mceToolbar {
    background-color: #43942d;
    border-style: solid;
}

td.mceToolbar.mceLeft.mceFirst.mceLast {
    background-color: #43942d;
    border-style: solid;
    border-color: #43942d;
    background-image: none;
}

a.wp-switch-editor.switch-tmce {
    background-color: #43942d;
    color: #ffffff;
    border-style: solid;
    margin-top: 5px;
    border-color: #43942d;
}

#content_toolbargroup {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f7f7f7;
    margin-bottom: -1px;
}

div.wp-editor-container {
    -webkit-box-shadow: 0px 0px 12px 2px rgba(90, 90, 90, .2);
    box-shadow: 0px 0px 12px 2px rgba(90, 90, 90, .2);
}


