
/* admin bar */

a.ab-item {
    border-right-width: 0!important;
}

.opensub div.wp-menu-name {
    color: #7951a1!important;
}

#screen-options-link-wrap a, #screen-options-link-wrap a:hover {
    background-color: rgba(43,34,58,1);
    color: #ffffff;
    text-shadow: none!important;
}

li.hide-if-no-js {
    border-color: #326d22!important;
}

/* Webfonts */
#custom_css textarea:focus, #custom_js textarea{
transition: all .5s;
-moz-transition: all .5s; /* Firefox 4 */
-webkit-transition: all .5s; /* Safari and Chrome */
-o-transition: all .5s; /* Opera */
min-height: 120px;
}
#custom_css textarea:focus, #custom_js textarea:focus{
font-family: "Ubuntu Mono", UbuntuMono, Consolas, Courier, mono;
font-size: 16px;
color: #ffffff;
background-color: #292929;
border-style: solid;
border-left-width: 30px;
border-top-width: 0;
border-right-width: 0;
border-bottom-width: 0;
}
li.tabs {
    border-style: none;
    background-color: transparent;
    font-weight: bold;
}



@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,700);
