/* This file effects the INSIDE of the WYSIWYG editor */
body#tinymce.wp-editor { 
    font-family: "Open Sans", Arial, Helvetica, sans-serif; 
    margin:10px; 
}
body#tinymce.wp-editor a {
    color: #4CA6CF;
}
body#tinymce.wp-editor h1, h2 {
    font-family: "Advent Pro","AgencyFB",Agency FB, Arial, sans-serif;
    font-weight: bold;
}
body#tinymce.wp-editor h1 {
    font-size: 36px;
    line-height: 40px;
}
body#tinymce.wp-editor h2 {
    font-size: 30px;
    line-height: 40px;
}

@import url(http://fonts.googleapis.com/css?family=Advent+Pro:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
